<div class="show_book">
    <div class="flex flex-row flex-wrap">
        <p class="item"><b>Name: </b> <%= book.Name %> </p>
        <p class="item"><b>ISBN: </b><%= book.ISBN %> </p>
        <p class="item"><b>Author: </b><%= book.Author%> </p>
        <p class="item"><b>Price: </b><%=book.Price%> </p>
        <p class="item"><b>Country: </b><%=book.Counter_of_Origin%> </p>
        <p class="item"><b>Pages: </b><%=book.Number_Of_Pages%> </p>
        <p class="item"><b>Year: </b><%=book.Year%> </p>
        <p class="item"><b>Stock Available: </b><%=book.Stock_Available%></p>
        <!-- <p class="item"><b>Digitally Available?: Digital_Format_Available</b></p> -->
    </div>
</div>

